@import '../../../styles/colors';

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  background-color: $lightred;
  border: solid 2px $darkred;
  border-radius: 1px;
  color: $black;
  width: fit-content;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
