@import '../../styles/colors';

.file {
  color: $blue;
  margin-right: 2rem;
  margin-bottom: 1rem;
  width: 250px;
  cursor: pointer;
  border: 1px solid $black;
  padding: 0.5rem;
}

.file:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.file h4 {
  font-size: 0.85rem;
  color: $black;
  font-weight: 500;
}
