.searchForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
}

.searchForm * {
  margin-bottom: 1rem;
}

.searchForm label {
  text-align: center;
}
