@import './styles/colors';

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-primary {
  background-color: $blue;
  color: $black;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: $lightblue;
}

.btn-secondary {
  background-color: $green;
  color: $black;
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: $lightgreen;
}
